<main>
    <div class="container">
        <div class="row">
            <div class="col l4 s4">
                <img src="../static/images/posters/2.jpg" class="responsive-img">
            </div>
            <div class="col l4 s4">
                <img src="../static/images/posters/2.jpg" class="responsive-img">
            </div>
            <div class="col l4 s4">
                <img src="../static/images/posters/2.jpg" class="responsive-img">
            </div>
        </div>
        <p style="font-size:1rem;">About us:</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis excepturi hic culpa quam rem illum facilis, fugiat beatae quaerat eius, aliquid provident ipsum! Itaque rerum suscipit eveniet quia excepturi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis excepturi hic culpa quam rem illum facilis, fugiat beatae quaerat eius, aliquid provident ipsum! Itaque rerum suscipit eveniet quia excepturi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis excepturi hic culpa quam rem illum facilis, fugiat beatae quaerat eius, aliquid provident ipsum! Itaque rerum suscipit eveniet quia excepturi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis excepturi hic culpa quam rem illum facilis, fugiat beatae quaerat eius, aliquid provident ipsum! Itaque rerum suscipit eveniet quia excepturi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis excepturi hic culpa quam rem illum facilis, fugiat beatae quaerat eius, aliquid provident ipsum! Itaque rerum suscipit eveniet quia excepturi.</p><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis excepturi hic culpa quam rem illum facilis, fugiat beatae quaerat eius, aliquid provident ipsum! Itaque rerum suscipit eveniet quia excepturi.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum blanditiis excepturi hic culpa quam rem illum facilis, fugiat beatae quaerat eius, aliquid provident ipsum! Itaque rerum suscipit eveniet quia excepturi.</p>
    </div>
</main>
