<main>
    <div class="container">
<h5 style="text-align:center; font-weight:600;">Privacy Policy Aggrement</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae tempore iusto quidem vitae consectetur sed voluptatibus asperiores sapiente eum voluptates debitis iste, non. Blanditiis illum reprehenderit, corporis ullam nihil impedit.</p>

    </div>
</main>
