<style type="text/css">
@media screen and (max-width: 1920px) {
    .collapsible-header {
        height: 2rem;
        background: transparent;
        border: none;
        font-size: 1rem;
    }
    .collapsible-header:hover {
        color: #0C86AE;
        font-weight: 600;
    }
    label {
        font-size: 0.9rem;
        color: #333;
    }
    label:hover {
        font-size: 1rem;
        color: #4e4e4e;
    }
    .produktliste .card-image1 {
        height: 250px;
        max-height: 250px;
    }
}

@media screen and (max-width: 1600px) {
    .collapsible-header {
        height: 2rem;
        background: transparent;
        border: none;
        font-size: 0.9rem;
    }
    .produktliste .card-image1 {
        /*height: 250px;*/
        max-height: 250px;
    }
    label {
        font-size: 0.8rem;
        color: #333;
    }
    label:hover {
        font-size: 0.9rem;
        color: #4e4e4e;
    }
}

@media screen and (max-width: 1366px) {
    .collapsible-header {
        height: 2rem;
        background: transparent;
        border: none;
        font-size: 0.8rem;
    }
    .produktliste .card-image1 {
        /*height: 250px;*/
        max-height: 150px;
    }
    .collapsible-header:hover {
        color: #0C86AE;
        font-weight: 600;
    }
    .card .card-content {
        padding: 20px;
        border-radius: 0px 0px 2px 2px;
        height: 100px;
    }
    label {
        font-size: 0.75rem;
        color: #333;
    }
    label:hover {
        font-size: 0.8rem;
        color: #4e4e4e;
    }
}

@media screen and (max-width: 1200px) {
    .collapsible-header {
        height: 2rem;
        background: transparent;
        border: none;
        font-size: 0.8rem;
    }
    label {
        font-size: 0.7rem;
        color: #333;
    }
    .collapsible-header:hover {
        color: #0C86AE;
    }
    label:hover {
        font-size: 0.8rem;
        color: #4e4e4e;
    }
}

.row .col {
    transition: all 0.3s ease 0s;
    float: left;
    box-sizing: border-box;
    padding: 0px 0.75rem;
}

.input-field label.active {
    font-size: 1rem;
    transform: translateY(-60%);
}

.activeSubCategory {
    color: #2CB8E6;
    font-weight: 800;
}

.activeCategory {
    color: #2CB8E6;
    font-weight: 600;
}

color: #0C86AE;
font-weight: 600;
.productAddedToast {
    position: fixed;
    top: 50px;
    right: 20px;
}

.box {
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    right: 0px;
    background: #2BA3CB;
    color: #fff;
    margin-top: 20px;
    z-index: 9999;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.collapsible-item .title {
    font-size: 0.95rem;
}

.over {
    height: 1080px;
    overflow: hidden;
}

.over:hover {
    height: 1080px;
    overflow-y: scroll;
}

.gradient {
    color: #4e4e4e;
}
.slider .indicators .indicator-item.active{
    background-color: #0C86AE;
}
.right_border {
    border-right: 2px solid #0C86AE;
    -webkit-animation: mymove 5s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes mymove {
    50% {
        border-right: 2px solid #0C86AE;
    }
}


/* Standard syntax */

@keyframes mymove {
    50% {
        border-right: 1px solid #0C86AE;
    }
}


/*list product client*/

.produktliste img .image2 {
    width: 100%;
    height: 150px;
}


/*.produktliste .card {
    cursor: pointer
}*/

.card .card-image1 {
    position: relative;
    overflow: hidden;
}


/*.produktliste .card-content {
    max-height: 150px
}*/

.produktliste .card-content h3 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300
}

.produktliste .card-content h3 a {
    text-transform: none;
    color: #212121
}

.produktliste .card-title {
    padding: 10px;
}

.produktliste .row {
    margin: 0 !important;
    padding-left: 10px;
    padding-right: 10px
}

.produktliste .price {
    color: #4e4e4e;
    position: relative;
    text-align: right;
    font-weight: 500;
}

.produktliste .savemoney {
    position: absolute;
    color: #bdbdbd;
    right: 10px;
    top: -20px
}

.produktliste .reviews-no {
    display: none
}

.header-produktliste {
    margin: 0
}

.produktliste .price {
    color: #4e4e4e;
    position: relative;
    text-align: right
}

@media only screen and (max-width:600px) {
    .produktliste {
        margin: 20px 0
    }
    .collapsible-header:hover {
        color: #0C86AE;
        font-weight: 600;
    }
    .produktliste .card {
        box-shadow: none;
        border-bottom: 1px solid #e0e0e0;
        margin: 0
    }
    .produktliste .card-image1 {
        width: 30%;
        float: left;
        height: auto;
        max-height: auto
    }
    .produktliste .card-content {
        float: right;
        width: 70%;
        height: auto;
        max-height: auto;
        padding: 10px
    }
    .card .card-content {
        padding: 20px;
        padding-bottom: 0px;
        border-radius: 0px 0px 2px 2px;
    }
    .produktliste .card-content h3 {
        font-size: 1.2rem;
        font-weight: 300
    }
    .produktliste .card-action {
        border: 0;
        float: right;
        width: 70%;
        padding: 20px 0 10px;
        margin: 0
    }
    .produktliste .price-used {
        display: none
    }
}

.has-sub1 {
    background: #eee none repeat scroll 0% 0%;
    color: #333;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.collapsible {
    box-shadow: none;
    border: none;
}

.border1 {
    border: 5px solid rgba(12, 134, 174, 0.2);
}

#custom_collapsable {
    border: none;
}
.custom_collapsible-body {
    border: none;
}

.slider .slides li img {
    height: 100%;
    width: 100%;
    background-size: none;
    /* background-position: center; */
}

#overlay {
    background: rgba(256, 256, 256, .75);
    text-align: center;
    padding: 45px 0 66px 0;
    opacity: 0;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    position: absolute;
    z-index: 9999;
    top: 52%;
}

#box1 {
    overflow: hidden;
}

#box1:hover #overlay {
    opacity: 1;
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
}

#plus {
    padding-top: 40%;
    font-family: Helvetica;
    font-weight: 600;
    color: rgba(238,110,115, .85);
    font-size: 18px;
}
.icon-color {
  color: #55D2FC;
}
.icon-color:hover {
  color: #0C86AE
}
</style>
<div class="">
  <div class="row" style="height: 100%; margin-bottom:0px; overflow-x:hidden;" data-ng-controller="ProductsAdminController" data-ng-init="init()">
    <div data-ng-show="addedProduct" id="animated-example" class="productAddedToast box animated fadeInDown">
      <span data-ng-bind="addedProduct.name"></span> added to cart
    </div>
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="http://813magazine.com/wp-content/uploads/2015/01/veggies.jpg">
        </li>
        <li>
          <img src="https://tinascocinadotcom1.files.wordpress.com/2013/02/tinas-cocina-feb-2013-005.jpg">
        </li>
        <li>
          <img src="https://newcarolyn.files.wordpress.com/2011/01/markets-9.jpg">
        </li>
      </ul>
    </div>
    <div class="col l2 m3 s12 right_border" style="margin-top: -10px;">
      <div class="filter-elements" style="margin-top:39px;">
        <div class="filter-container">
          <h5>Products</h5>
          <div class="divider"></div>
          <ul id="cssproduct custom_collapsable" class="collapsible" data-collapsible="accordion" collapsible-categories>
            <li id="{{category._id}}" data-ng-show="category.subCategory && category.subCategory.length !== 0" ng-repeat="category in categories" data-ng-click="goTo(category)">
              <div class="collapsible-header gradient ">
                <!-- <i><img ng-src="/static/images/icons/{{category._id}}"></i> -->
                <span data-ng-bind="category.category"></span>
                <!-- ng-class="{activeCategory: selectedCategory._id === Category._id}" -->
              </div>
              <div class="collapsible-body custom_collapsible-body">
                <ul style="margin:10px; padding-left:20px;">
                  <li data-ng-click="selectSubCategory('ALL')">
                    <label class="active" ng-class="{activeSubCategory: !selectedSubCategory}" for="ALL">ALL</label>
                  </li>
                  <li ng-repeat="subCategory in category.subCategory" data-ng-click="selectSubCategory(subCategory)">
                    <label class="active" ng-class="{activeSubCategory: selectedSubCategory._id === subCategory._id}" for="{{subCategory._id}}">{{subCategory.subCategory}}</label>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <noscript>
            <input type="submit" value="Filter anwenden" class="filter-submit-bottom btn btn-success">
          </noscript>
        </div>
      </div>
    </div>
    <div class="col l10 m9 s12">
      &nbsp;
      <div class="col l10 s12 ">
        <div class="row">
          <div class="col l8 s6">
            <h5 style="rgb(167, 28, 9);"><strong>{{categorySelected}}</strong></h5>
            <!--    <form data-ng-submit="search(searchTerm)">
        <input type="text" data-ng-model="searchTerm">
        <button type="submit">Search</button>
      </form> -->
          </div>
        </div>
        <div data-ng-hide="productsLoaded">
          <img ng-src="{{Constants.preloader}}" style="width:64px; height:64px; position:absolute; top:80%; left:55%;">
        </div>
        <div data-ng-show="productsLoaded">
          <ul class="produktliste">
            <li class="col l3 m3 s12" ng-repeat="product in products">
              <div class="card" id="box1">
                <div class="card-image1" style="padding-top:20px; padding-bottom:0px;">
                  <img ng-src="/static/images/products/{{product._id}}/image" class="imagehover image-center" fallback-src="{{Constants.noImage}}" alt="Product images">
                </div>
                <div class="divider"></div>
                <div class="card-content" style="font-size:0.8rem; line-height:0.9rem;">
                  <h3><strong>{{product.name}}</strong></h3> {{product.category.category}} / {{product.subCategory.subCategory}}
                  <p style="font-size:0.8rem; line-height:0.9rem;">
                    <br>
                    <span class="price-used">{{product.description}}</span>
                    <br>
                  </p>
                  <!-- p ng-hide="product.stock > 0">
                                Out of Stock
                            </p> -->
                  <!-- <br> -->
                  <!-- <a href data-ng-click="addToCart(product)" class="btn" data-ng-show="authentication.user">Add to cart</a></span> -->
                </div>
                <div class="card-title">
                 <span style="font-size:1.3rem; color:rgb(188, 188, 188); padding:10px;" class="price"><span style="font-size:1.1rem; color:rgb(188, 188, 188);">MRP:</span> &#8377;{{product.price}}</span>
                  <span>
                            <a class="right" href data-ng-click="remove(product)">
                                <i class="material-icons icon-color">delete</i>
                            </a>&nbsp;&nbsp;&nbsp;
                            <a class="right" data-ng-href="#!/products/admin/{{product._id}}/edit">
                                <i class="material-icons icon-color">mode_edit</i>
                            </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
