<style type="text/css">
@media screen and (max-width: 1920px) {
  .collapsible-header {
    font-size: 1rem;
  }
  .produktliste .card-image1 {
    height: 250px;
    max-height: 250px;
}
}

@media screen and (max-width: 1600px) {
  .collapsible-header {
    font-size: 0.9rem;
    padding-left: 5px;
  }
  .produktliste .card-image1 {
    /*height: 250px;*/
    max-height: 250px;
}
}

@media screen and (max-width: 1366px) {
  .collapsible-header {
    font-size: 0.8rem;
    padding-left: 5px;
    line-height: 1.7;
    padding-bottom: 5px;
    padding-top:5px;
  }
  .produktliste .card-image1 {
    /*height: 250px;*/
    max-height: 150px;
}
/* Form text input */

.search-wrapper input {
    width: 80.759%;
    height: 15px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #EEE;
    color: #4e4e4e;
    border-radius: 3px 0 0 3px;
}

@media screen and (max-width: 260px) {
.search-wrapper input {
    width: 80%;
    height: 15px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #EEE;
    color: #4e4e4e;
    border-radius: 3px 0 0 3px;
}
}
.card .card-content {
    padding: 20px;
    border-radius: 0px 0px 2px 2px;
    height: 120px;
}
}

@media screen and (max-width: 1200px) {
  .collapsible-header {
    font-size: 1rem;
  }
}

.row .col {
  transition: all 0.3s ease 0s;
  float: left;
  box-sizing: border-box;
  padding: 0px 0.75rem;
}

.input-field label.active {
  font-size: 1rem;
  transform: translateY(-60%);
}

label {
  font-size: 1rem;
  color:#4e4e4e;
}
label:hover {
  font-size: 1.2rem;
  color:#0C86AE;
}
.activeSubCategory {
  color: #0C86AE;
  font-weight: 800;
}

.productAddedToast {
  position: fixed;
  top: 50px;
  right: 20px;
}

.box {
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  background: #2BA3CB;
    color: #fff;
  margin-top: 20px;
  z-index: 9999;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.collapsible-item .title {
  font-size: 0.95rem;
}

.over {
  height: 1080px;
  overflow: hidden;
}

.over:hover {
  height: 1080px;
  overflow-y: scroll;
}

.right_border{
    border-right: 2px solid #0C86AE;
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {border-right: 2px solid #0C86AE;}
}

/* Standard syntax */
@keyframes mymove {
    50% {border-right: 1px solid #0C86AE;}
}

/*Custom Form*/

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #4e4e4e;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #4e4e4e;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #4e4e4e;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #4e4e4e;
}

.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}


/* Form wrapper styling */

.search-wrapper {
    /*margin-top: 5px;*/
    box-shadow: 0 1px 0px rgba(0, 0, 0, .4) inset, 0 0px 0 rgba(255, 255, 255, .2);
}




.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}


/* Form submit button */

.search-wrapper .btn {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 35px;
    width: 36px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: white;
    text-transform: uppercase;
    background: #D83C3C;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper .btn:hover {
    background: #e54040;
}

.search-wrapper .btn:active,
.search-wrapper .btn:focus {
    background: #c42f2f;
    outline: 0;
}

.search-wrapper .btn:before {
    /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.search-wrapper .btn:hover:before {
    border-right-color: #e54040;
}

.search-wrapper .btn:focus:before,
.search-wrapper .btn:active:before {
    border-right-color: #c42f2f;
}

.search-wrapper .btn::-moz-focus-inner {
    /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

/*list product client*/

.produktliste img .image2 {
    width: 100%;
    height: 150px;
}


/*.produktliste .card {
    cursor: pointer
}*/

.card .card-image1 {
    position: relative;
    overflow: hidden;
}


/*.produktliste .card-content {
    max-height: 150px
}*/

.produktliste .card-content h3 {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 300
}

.produktliste .card-content h3 a {
    text-transform: none;
    color: #212121;
}

.produktliste .card-title {
    padding: 10px;
}

.produktliste .row {
    margin: 0 !important;
    padding-left: 10px;
    padding-right: 10px
}

.produktliste .price {
    color: #4e4e4e;
    position: relative;
    text-align: right;
    font-weight: 500;
}

.produktliste .savemoney {
    position: absolute;
    color: #bdbdbd;
    right: 10px;
    top: -20px
}

.produktliste .reviews-no {
    display: none
}

.header-produktliste {
    margin: 0
}

.produktliste .price {
    color: #4e4e4e;
    position: relative;
    text-align: right
}

@media only screen and (max-width:600px) {
    .produktliste {
        margin: 20px 0
    }
    .produktliste .card {
        box-shadow: none;
        border-bottom: 1px solid #e0e0e0;
        margin: 0
    }
    .produktliste .card-image1 {
        width: 30%;
        float: left;
        height: auto;
        max-height: auto
    }
    .produktliste .card-content {
        float: right;
        width: 70%;
        height: auto;
        max-height: auto;
        padding: 10px
    }
    .card .card-content {
        padding: 20px;
        padding-bottom: 0px;
        border-radius: 0px 0px 2px 2px;
    }
    .produktliste .card-content h3 {
        font-size: 1.2rem;
        font-weight: 300
    }
    .produktliste .card-action {
        border: 0;
        float: right;
        width: 70%;
        padding: 20px 0 10px;
        margin: 0
    }
    .produktliste .price-used {
        display: none
    }
}
.search-wrapper{
        padding: 10px;
}
.search-wrapper input {
        width: 80%;
        height: 39px;
        padding: 10px 5px;
        float: left;
        font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 0;
        background-color: #BDBDBD;
        color: : #4e4e4e;
    }
    .search-wrapper input:focus {
        outline: 0;
        box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    }

</style>
<div>
  <div class="row" style="height: 100%; margin-bottom:0px; overflow-x:hidden;" data-ng-controller="ProductsController" data-ng-init="init()">

    <div data-ng-show="addedProduct" id="animated-example" class="productAddedToast box animated fadeInDown">
      <span data-ng-bind="addedProduct.name"></span> added to cart
    </div>
    <div class="col s12">
  <a href="#" data-activates="slide-out" class="button-collapse"><i style="font-size:2rem;" class="mdi-navigation-menu"></i><span>Categories</span></a><br>
<span class="right" style="padding-top:12px;" data-ng-bind="selectedCategory.category"></span>

    </div>

    <div class="right_border">
      <!-- <h1 class="font13">Preethi Stores </h1> -->
      <div class="filter-elements" style="margin-top:39px;">
        <div class="filter-container">
          <ul id="slide-out" class="side-nav collapsible" data-collapsible="accordion" collapsible-categories>
            <li id="{{category._id}}" data-ng-show="category.subCategory && category.subCategory.length !== 0" ng-repeat="category in categories" data-ng-click="goTo(category)">
              <div class="collapsible-header gradient active">
                <!-- <i><img ng-src="/static/images/icons/{{category._id}}"></i> -->
                <span data-ng-bind="category.category"></span>
              </div>
              <div class="collapsible-body">
                <ul style="margin:10px; padding-left:20px;">
                  <li data-ng-click="selectSubCategory('ALL')">
                    <label class="active" ng-class="{activeSubCategory: !selectedSubCategory}" for="ALL">ALL</label>
                  </li>
                  <li ng-repeat="subCategory in category.subCategory" data-ng-click="selectSubCategory(subCategory)">
                    <label class="active" ng-class="{activeSubCategory: selectedSubCategory._id === subCategory._id}" for="{{subCategory._id}}">{{subCategory.subCategory}}</label>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <noscript>
            <input type="submit" value="Filter anwenden" class="filter-submit-bottom btn btn-success">
          </noscript>
        </div>
      </div>
    </div>
    <div class="col s12">
        <div class="">
                 <form data-ng-submit="search(searchTerm)" class="search-wrapper cf ">
                    <input type="text1" placeholder="  Looking for Something?" style="color:#4e4e4e;" data-ng-model="searchTerm" required="">
                    <button type="submit"><span><i class="material-icons">search</i></span></button>
                </form>
            </div>
    </div>
    <div class="col l8 s12 ">
    <div class="row">
    <!-- <div class="col l8 s6">
      <form data-ng-submit="search(searchTerm)">
        <input type="text" data-ng-model="searchTerm">
        <button type="submit">Search</button>
      </form>
    </div> -->
    <div class="col l4 s12">

        <select class="browser-default" id='sort-dropdown' data-ng-model="sortQuery">
        <option value="" disabled selected>Sort by price -:</option>
        <option value="low">Low to high</option>
        <option value="high">High to Low</option>
      </select>
    </div>
    </div>
    <div data-ng-hide="productsLoaded"  style="min-height:400px;">
      <img ng-src="{{Constants.preloader}}" style="width:32px; height:32px; position:absolute; top:50%; left:55%;">
    </div>
    <div  data-ng-show="productsLoaded" style="min-height:400px;">
      <!-- <div class="row header-produktliste">
        <div class="col m6 modelsearch">&nbsp; -->
      <!-- <form class="row" method="get" role="search"> -->
      <!-- <div class="input-field col s12"> -->
      <!-- <label for="search" class="right"><i class="material-icons">search</i></label> -->
      <!--   <input type="text" name="term" id="robot" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Search your items" value=""> -->
      <!--<input type="submit" class="col s3 btn" name="submitautocomplete" value="Suchen" type="button" >-->
      <!--  </div>
                    </form> -->
      <!--    </div>
        <div class="col m6 s12 modelsearch" style="margin-top:20px;">
          <div class="col m12">
            <select class="browser-default" id='sort-dropdown' data-ng-model="sortQuery">
              <option value="" disabled selected>Sort by price -:</option>
              <option value="low">Low to high</option>
              <option value="high">High to Low</option>
            </select>
          </div>
        </div>
      </div> -->
      <ul class="produktliste">
        <li class="col l3 m6 s12 card-panel" ng-repeat="product in products">
          <div class="row">
            <div class="card-image1" style="padding-top:20px; padding-bottom:0px;">
              <img ng-src="/static/images/products/{{product._id}}/image" class="imagehover responsive-img image-center" fallback-src="{{Constants.noImage}}" alt="Product images">
            </div>
            <div class="divider"></div>
            <div class="card-content">
              <h3><strong>{{product.name}}</strong></h3>
              <p style="font-size:0.7rem; line-height:0.9rem;">{{product.category.category}} / {{product.subCategory.subCategory}}
                <br>
                <span class="price-used">{{product.description}}</span>
                <br>
                <span style="font-size:1.3rem; color:#ee6e73; padding:10px;" class="price">&#8377;{{product.price}}</span>
              </p>
              <!--  <p ng-hide="product.stock > 0">
                                Out of Stock
                            </p> -->
              <!-- <br> -->
              <!-- <a href data-ng-click="addToCart(product)" class="btn" data-ng-show="authentication.user">Add to cart</a></span> -->
            </div>
             <div class="row right" style="margin-bottom:5px;">
             <div class="col s2 ">
                   <a href data-ng-click="items = items <= 1 ? 1 : items - 1">
                  <i class="material-icons" style="margin-top:5px; color:#4e4e4e;">chevron_left</i>
                </a>
             </div>
             <div class="col s8">
                 <form data-ng-submit="addToCart(product, items)" style="color: black;">
                  <input style="text-align:center; height:30px; color:#4e4e4e; font-size:1.2rem;" type="text" min="1" data-ng-model="items">
                </form>
             </div>
             <div class="col s2">
                  <a href data-ng-click="items = items + 1" >
                  <i class="material-icons" style="margin-top:5px; color:#4e4e4e;">chevron_right</i>
                </a>
             </div>



              </div>
            <div class="card-title" style="">
              <div class="price"><a href data-ng-click="addToCart(product, items)" class="right btn waves-effect waves-light" style="width:100%; background:#56B6D5;"><i class="material-icons" style="font-size:2rem; color:#fff;">add_shopping_cart</i></a></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    </div>
  </div>
</div>