
<section data-ng-controller="ProductsController" data-ng-init="findOne()">
  <div class="container col-md-12">
    <div class="row">
      <div class="thumbnail">
        <img class="img-responsive card-image1" ng-src="/static/images/products/{{product._id}}/image" fallback-src="{{Constants.noImage}}" alt="">
        <div class="caption-full">
          <h4 class="pull-right">
              <span ng-bind="product.price"></span>
            </h4>
          <h4>
              <span ng-bind="product.name"></span>
            </h4>
          <p>
            <span ng-bind="product.description"></span>
          </p>
        </div>
        <div class="ratings">
          <p class="pull-right" ng-hide="product.stock > 0">
            Out of Stock
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
